langchain==1.0.3
langchain-core==1.0.2
langchain-openai==1.0.1
langgraph==1.0.2
langgraph-checkpoint==3.0.0
langgraph-prebuilt==1.0.2
langgraph-sdk==0.2.9
langsmith==0.4.39
fastapi==0.121.2
uvicorn==0.38.0
pydantic==2.12.3
pydantic-core==2.41.4
Jinja2==3.1.6
coze-coding-utils>=0.1.11, <1.0
coze-workload-identity==0.1.4
opencv-python==4.12.0.88
pandas==2.2.2
Pillow==10.3.0
cozeloop==0.1.25
alembic==1.16.5
SQLAlchemy==2.0.44
python-dotenv==1.2.1
psycopg2-binary==2.9.9
boto3==1.40.61
botocore==1.40.61
langgraph-checkpoint-postgres==3.0.1
psycopg[binary]==3.3.0
psycopg-pool==3.3.0
pypdf==6.4.1
docx2python==3.5.0
openpyxl==3.1.5
python-pptx==1.0.2
coze-coding-dev-sdk>0.5.0,< 1.0
rich==14.2.0
